PORT=8080
DB_URL=jdbc:mysql://127.0.0.1:3306/seat_reservation?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=root
DB_POOL_SIZE=20
DB_POOL_MIN_IDLE=5
DB_CONNECTION_TIMEOUT_MS=3000
JWT_SECRET=replace-with-long-random-secret
